<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">

<head>
    <title>Регистрация</title>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
          rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css"
          rel="stylesheet"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css"
          rel="stylesheet"
          href="../static/css/slick.css"
          th:href="@{/css/slick.css}"/>
    <link type="text/css"
          rel="stylesheet"
          href="../static/css/slick-theme.css"
          th:href="@{/css/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css"
          rel="stylesheet"
          href="../static/css/nouislider.min.css"
          th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet"
          href="../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}"/>

    <!-- Custom stlylesheet -->
    <link type="text/css"
          rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
</head>

<body>

<header th:replace="~{blocks/header }"></header>

<nav th:replace="~{blocks/navigation :: navi('Register')}"></nav>

<div class="section">
    <div class="container">
        <div id="loginbox" class="col-md-8 col-md-offset-2">
            <div class="panel-body">
                <form th:action="@{/register/processRegistrationForm}"
                      th:object="${systemUser}" method="post" class="form-horizontal order-details">

                    <div class="form-group">
                        <div class="col-xs-15">
                            <div th:if="${registrationError != null}">
                                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    ${registrationError}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User name -->
                    <div class="error" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                        <input th:field="*{userName}" placeholder="логин *" class="input"/>
                    </div>

                    <!-- Password -->
                    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" th:field="*{password}" placeholder="пароль *" class="input"/>
                    </div>

                    <!-- Confirm Password -->
                    <div class="error" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" th:field="*{matchingPassword}" placeholder="подтверждение пароля *" class="input"/>
                    </div>


                    <!-- First name -->
                    <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                        <input th:field="*{firstName}" placeholder="Имя *" class="input"/>
                    </div>

                    <!-- Last name -->
                    <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" />
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                        <input th:field="*{lastName}" placeholder="Фамилия *" class="input"/>
                    </div>

                    <!-- Email -->
                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                        <input th:field="*{email}" placeholder="Email *" class="input"/>
                    </div>

                    <!-- Phone -->
                    <div class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user-o"></i></span>
                        <input th:field="*{phone}" placeholder="Телефон *" class="input"/>
                    </div>

                    <div class="cart-btns">
                        <a href="/wintermarket/login">Войти</a>
                        <button type="submit">Зарегистрироваться</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{blocks/footer}"></footer>

</body>
</html>