<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
</head>

<body>

<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="footer">
                        <h3 class="footer-title">О нас</h3>
                        <p>Наш магазин предоставляет качественную технику по низким ценам.</p>
                        <ul class="footer-links">
                            <li><a href="#"><i class="fa fa-map-marker"></i>Москва, Кременчугская 13/4</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i> +7(495)-123-45-67</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>support@geekmarket.ru</a></li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-4 col-xs-4">
                    <div class="footer">
                        <h3 class="footer-title">Информация</h3>
                        <ul class="footer-links">
                            <li><a href="#">О нас </a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                            <li><a href="#">Заказы и возвраты</a></li>
                            <li><a href="#">Термины и условия</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-xs-4">
                    <div class="footer">
                        <h3 class="footer-title">Сервисы</h3>
                        <ul class="footer-links">
                            <li><a href="#">Мой аккаунт</a></li>
                            <li><a href="#">Корзина</a></li>
                            <!--<li><a href="#">Wishlist</a></li>-->
                            <li><a href="#">Отследить заказ</a></li>
                            <li><a href="#">Помощь</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-payments">
                        <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                        <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                        <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                    </ul>
                    <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </span>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->

</body>
</html>