<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
</head>

<body>

<!-- NAVIGATION -->
<nav id="navigation" th:fragment="navi(activeTab)">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li th:classappend="${activeTab == 'Home' ? 'active' : ''}"><a href="#" th:href="@{/}">Главная</a></li>
                <li th:classappend="${activeTab == 'Shop' ? 'active' : ''}"><a href="#" th:href="@{/shop}">Магазин</a></li>
                <li th:classappend="${activeTab == 'Cart' ? 'active' : ''}"><a href="#" th:href="@{/cart}">Корзина</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

</body>
</html>